/* 스타일 리셋 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
  overflow-x: hidden;
}

/* 전역 폰트 설정 */
body {
  font-family: 'Inter', sans-serif;
  background-color: #f5f5f5; /* 기본 배경색 설정 */
  color: #333; /* 기본 텍스트 색상 설정 */
  display: flex;
  justify-content: center;
  align-items: center;
}

/* 전역 링크 스타일 */
a {
  text-decoration: none;
  color: #0f1035; /* 기본 링크 색상 */
}

a:hover {
  color: #365486; /* 링크 호버 색상 */
}


/* 전역 컨테이너 설정 */
.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 100vh;
  background-color: #fff;
}

.app-content {
  width: 100%; /* 전체 너비 사용 */
  max-width: 1480px; /* 최대 너비 설정 */
  display: flex;
  justify-content: space-between; /* 항목 간 공간 분배 */
  padding: 40px 101px 72px 34px; /* 패딩 조정 */
}

/* 공통 버튼 스타일 */
button {
  background-color: #365486;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
}