

  /* 상단 메뉴 스타일 */
  .menubar {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    background-color: #fff;
  }
  
  .menubar a {
    width: 135px;
    height: 58px;
    margin: 0 0 93px 50px;
    font-family: Inter;
    font-size: 20px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: -0.2px;
    text-align: center;
    color: #0f1035;
  }