.main {
    width: 1480px;
    height: 900px;
    flex-grow: 0;
    background-color: #fff;
    display: flex;
  }
  .mini_logo {
    width: 70px;
    height: 70px;
    mix-blend-mode: hard-light;
    position: fixed;
    top: 5px;
    left: 100;
  }

  .mini_service_name {
    width: 91px;
    height: 42px;
    margin: 50px 182px 72px 67px;
    font-family: Inter;
    font-size: 20px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: -0.2px;
    text-align: center;
    color: #365486;
    position: fixed;
    top: 0;
    left: 48;
  }

  .Rectangle1 {
    width: 424px;
    height: 378px;
    margin: auto auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    opacity: 0.8;
    border-radius: 25px;
    background-color: rgba(220, 242, 241, 0.9);
  }

  .text1 {
    width: 300px;
    height: 37px;
    margin: 30px auto 30px auto;
    font-family: Inter;
    font-size: 25px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: -0.25px;
    text-align: center;
    color: #0f1035;
  }

  .formGroup {
    width: 100%;
    margin-bottom: 20px;
    display: flex;
    align-items: center; /* 중앙 정렬 */
  }

  .checkbox {
    margin-right: 5px;
  }

  .label {
    flex: 1;
    font-family: Inter;
    margin: 0 auto 5px auto;
    font-size: 14px;
    font-weight: 600;
    line-height: 1.5;
    color: rgba(0, 0, 0, 0.8);
  }

  .required {
    color: #365486;
  }

  .link {
    font-family: Inter;
    font-size: 14px;
    font-weight: 600;
    color: #0f1035;
    text-decoration: underline;
    cursor: pointer;
    margin-left: 50px;
  }

  .Rectangle2 {
    width: 334px;
    height: 119px;
    margin: 4px 0;
    padding: 5px 21px 5px 18px;
    border: solid 0.5px #0f1035;
    background-color: #fff;
  }

  .termsBox {
    width: 90%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #fff;
    font-family: Inter;
    font-size: 14px;
    line-height: 1.5;
    color: #333;
  }

  .termsTitle {
    font-weight: bold;
    margin-bottom: 10px;
  }

  .termsText {
    margin-bottom: 5px;
  }

  .button {
    width: 223px;
    height: 48px;
    margin: auto auto;
    border-radius: 8px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    background-color: rgba(127, 199, 217, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Inter;
    font-size: 15px;
    font-weight: 600;
    color: #0f1035;
    cursor: pointer;
  }

  .button:hover {
    background-color: rgba(127,199,217, 0.4)
  }